#root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;

	justify-content: center;
	align-items: center;
}

#app-container {
	height: 300px;
	width: 300px;

	border: 1px solid black;
}